.metadata
.project
.classpath
.settings
.history
gen
target
*.iml
project/*.ipr
project/*.iml
project/*.iws
project/out
project/*/target
project/target
project/*/bin
project/*/build
project/*/*.iml
project/.idea
project/.idea/*
.idea
.idea/*
.idea/**/*
out/
*.log
*.gz
*.csv
